<div>
    <a href="/area-list/">назад</a>
</div>
<br>
<br>
<div>
    <h1>Регистрация образовательной площадки</h1>
    <form action="" method="post">
            <input type="text" name="name" placeholder="Название">
            <input type="text" name="city" placeholder="Город">
            <input type="text" name="address" placeholder="Адрес">
            <input type="text" name="phone_number" placeholder="Номер телефона">
        <div type="submit"><input type="submit" value="Добавить"/></div>
    </form>
</div>